<ion-content [fullscreen]="true" class="custom-background">
  <div>
    <ion-button style=" justify-content: center;

    align-items: center;margin-left: 6%;margin-top: -50%;" (click)="someMethod()">ย้อนกลับ</ion-button>
    <img
      src="../../assets/img/member-icon-png-6.jpg"
      alt="" style="width: 120px; height: 120px; margin-left: 5%;margin-top: 5%;">
    <h1 style="text-align: center;font-size: 35px;margin-top: -1%;">ข้อมูลทางร้าน</h1>
  </div>
  <ion-card style="background-color: #f5deb3; border-radius: 10px;">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <h2>ช่องทางการติดต่อ</h2>
          </ion-col>
        </ion-row>
        <ion-row class="contact-item">
          <ion-col size="2">
            <ion-icon name="call" style="color: green; font-size: 30px;"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <p>เบอร์โทร 0953546413</p>
          </ion-col>
        </ion-row>
        <ion-row class="contact-item">
          <ion-col size="2">
            <!-- แทนที่ด้วยรูปภาพไอคอน LINE -->
            <img src="../../assets/img/line-icon-vector-22.png" style="width: 30px; height: 30px;" />
          </ion-col>
          <ion-col size="10">
            <p>ID line 417lwyyr</p>
          </ion-col>
        </ion-row>
        <ion-row class="contact-item">
          <ion-col size="2">
            <ion-icon name="logo-facebook" style="color: #3b5998; font-size: 30px;"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <p>ที่บ้านเพื่อน</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>