<ion-content [fullscreen]="true" class="custom-background">
  <div>
    <ion-button style="margin-left: 5%;margin-top: -50%;" (click)="someMethod()">◀</ion-button>
    <img
      src="../../assets/img/member-icon-png-6.jpg"
      alt="" style="width: 120px; height: 120px; margin-left: 20%;margin-top: 5%;">
    <h1 style="text-align: center;font-size: 35px;margin-top: -1%;">ข้อมูลของฉัน</h1>
  </div>
  <ion-item>
    <ion-label style="text-align: center;height: 400px;width: 150px;background-color: rgb(247, 247, 247);color: #000;">
     
      <h1 style="margin-top: 3%;font-size: 25px;">ช่องทางการติดต่อ</h1>
    
      <br>
      <br>
      
      <br>
      <div>
        
       <h1 style="margin-top: 3%;font-size: 25px;margin-left: 10%;">เบอร์โทร 0994630892</h1>
      </div>
      <br>
      <br>
      <div>
        <h1 style="margin-top: 3%;font-size: 25px;margin-left: -6%;">ID line Bew1007</h1>
      </div>
      <br>
      <br>
      <div>
        <h1 style="margin-top: 3%;font-size: 25px;margin-left: 2%;">Waranyu Kanyapan
        </h1>
      </div>

    </ion-label>


  </ion-item>
</ion-content>