<ion-content [fullscreen]="true" class="custom-background">

    
  <ion-button  name="return-down-back-outline"class="go-back-button" (click)="goBack()">ย้อนกลับ</ion-button>
    <div class="container">
      <ion-img src="../../assets/img/good.png" alt="Image" class="image"></ion-img>
  

      <ion-item class="input-item">
        <ion-label position="floating">ชื่อผู้ใช้</ion-label>
        <ion-input type="text" [(ngModel)]="username"></ion-input>
      </ion-item>
  
      <ion-item class="input-item">
        <ion-label position="floating">รหัสผ่าน</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
  
      <ion-button class="login-button" color="light" expand="full" (click)="checkCredentials()">
        LOGIN
      </ion-button>
    </div>
  </ion-content>
  

